<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWebShopService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WebShopService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebShopService"
                contract="WebShopService.IWebShopService" name="BasicHttpBinding_IWebShopService" />
        </client>
    </system.serviceModel>
</configuration>